<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DemoShop Suite">

    <!-- Run specific groups -->
    <test name="Grouped Tests">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="register"/>
                <include name="login"/>
            </run>
        </groups>
        <classes>
            <class name="Test_NG04.DemoShop_Task"/>
        </classes>
    </test>

</suite>
