<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Data_Provider_.DataProvider_With_Loop"/>
      <class name="Data_Provider_.Calculator_Test"/>
      <class name="Handling_Multiple_Elements.Iframes"/>
      <class name="Test_NG05.Data_Provider"/>
      <class name="Data_Provider_.Serach_Functionality_Test"/>
      <class name="Test_NG05.Multiple_Groups"/>
      <class name="Handling_Multiple_Elements.MultipleWindows"/>
      <class name="Handling_Multiple_Elements.AlertBox"/>
      <class name="Handling_Multiple_Elements.Darg_and_Drop"/>
      <class name="Data_Provider_.Dataprovider_2D_array"/>
      <class name="Pages.BaseTest"/>
      <class name="Selenium_Framework.BaseTest"/>
      <class name="Selenium_Framework.LoginTest"/>
      <class name="Data_Provider_.Form_Submission_Test"/>
      <class name="Handling_Multiple_Elements.DatePicker"/>
      <class name="Test_NG05.Depends_On_Groups"/>
      <class name="Test_NG05.Grouping_Test_Cases"/>
      <class name="Test_NG05.IgonreTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
